USE [master]
GO

CREATE DATABASE [DreamDB]
GO

USE [DreamDB]
GO

CREATE TABLE [dbo].[__EFMigrationsHistory]
(
    [MigrationId] [nvarchar](150) NOT NULL,
    [ProductVersion] [nvarchar](32) NOT NULL,

    CONSTRAINT [PK___EFMigrationsHistory]
        PRIMARY KEY ([MigrationId])
)
GO

CREATE TABLE [dbo].[Anotacoes]
(
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Titulo] [nvarchar](max) NOT NULL,
    [Texto] [nvarchar](max) NOT NULL,

    CONSTRAINT [PK_Anotacoes]
        PRIMARY KEY ([Id])
)
GO

CREATE TABLE [dbo].[Calendarios]
(
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [IdUsuario] [int] NOT NULL,
    [Data] [datetime2](7) NOT NULL,
    [Descricao] [nvarchar](max) NOT NULL,

    CONSTRAINT [PK_Calendarios]
        PRIMARY KEY ([Id])
)
GO

CREATE TABLE [dbo].[Compartilhamentos]
(
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [IdDocumento] [int] NOT NULL,
    [IdGrupo] [int] NOT NULL,
    [DataUltimaAcao] [datetime2](7) NOT NULL,

    CONSTRAINT [PK_Compartilhamentos]
        PRIMARY KEY ([Id])
)
GO

CREATE TABLE [dbo].[Documentos]
(
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [IdUsuario] [int] NOT NULL,
    [IdTipoDocumento] [int] NOT NULL,
    [Titulo] [nvarchar](max) NOT NULL,
    [Conteudo] [nvarchar](max) NOT NULL,
    [Revisado] [bit] NOT NULL,
    [Publicado] [bit] NOT NULL,
    [Visibilidade] [nvarchar](max) NOT NULL,
    [DataPublicacao] [datetime2](7) NULL,

    CONSTRAINT [PK_Documentos]
        PRIMARY KEY ([Id])
)
GO

CREATE TABLE [dbo].[Grupos]
(
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Nome] [nvarchar](max) NOT NULL,
    [Descricao] [nvarchar](max) NOT NULL,

    CONSTRAINT [PK_Grupos]
        PRIMARY KEY ([Id])
)
GO

CREATE TABLE [dbo].[GruposUsuarios]
(
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [IdGrupo] [int] NOT NULL,
    [IdUsuario] [int] NOT NULL,

    CONSTRAINT [PK_GruposUsuarios]
        PRIMARY KEY ([Id])
)
GO

CREATE TABLE [dbo].[Notificacoes]
(
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Mensagem] [nvarchar](max) NOT NULL,
    [Status] [nvarchar](max) NOT NULL,
    [DataUltimaAcao] [datetime2](7) NOT NULL,

    CONSTRAINT [PK_Notificacoes]
        PRIMARY KEY ([Id])
)
GO

CREATE TABLE [dbo].[TiposDocumento]
(
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Nome] [nvarchar](max) NOT NULL,

    CONSTRAINT [PK_TiposDocumento]
        PRIMARY KEY ([Id])
)
GO

CREATE TABLE [dbo].[Usuarios]
(
    [Id] [int] IDENTITY(1,1) NOT NULL,
    [Nome] [nvarchar](max) NOT NULL,
    [Email] [nvarchar](max) NOT NULL,
    [Senha] [nvarchar](max) NOT NULL,

    CONSTRAINT [PK_Usuarios]
        PRIMARY KEY ([Id])
)
GO

INSERT INTO [dbo].[__EFMigrationsHistory]
    ([MigrationId], [ProductVersion])
VALUES
    (N'20260929004016_Inicial', N'10.0.12')
GO

INSERT INTO [dbo].[Usuarios]
    ([Nome], [Email], [Senha])
VALUES
    (N'Dennis', N'dennis@email.com', N'123456')
GO

INSERT INTO [dbo].[TiposDocumento]
    ([Nome])
VALUES
    (N'Resumo')
GO

INSERT INTO [dbo].[Grupos]
    ([Nome], [Descricao])
VALUES
    (N'Grupo de Estudos',
     N'Grupo para estudos e compartilhamento de conteúdo.')
GO

INSERT INTO [dbo].[Anotacoes]
    ([Titulo], [Texto])
VALUES
    (N'Anotação salva no banco',
     N'Teste de persistência da anotação no SQL Server.')
GO

INSERT INTO [dbo].[Calendarios]
    ([IdUsuario], [Data], [Descricao])
VALUES
    (1,
     CAST(N'2026-09-30T10:00:00.0000000' AS DateTime2),
     N'Estudar para o TCC')
GO

INSERT INTO [dbo].[Documentos]
    ([IdUsuario],
     [IdTipoDocumento],
     [Titulo],
     [Conteudo],
     [Revisado],
     [Publicado],
     [Visibilidade],
     [DataPublicacao])
VALUES
    (1,
     1,
     N'Documento salvo no banco',
     N'Teste de persistência no SQL Server.',
     0,
     0,
     N'publica',
     NULL)
GO

INSERT INTO [dbo].[GruposUsuarios]
    ([IdGrupo], [IdUsuario])
VALUES
    (1, 1)
GO

INSERT INTO [dbo].[Compartilhamentos]
    ([IdDocumento], [IdGrupo], [DataUltimaAcao])
VALUES
    (1,
     1,
     CAST(N'2026-09-30T03:00:00.0000000' AS DateTime2))
GO

INSERT INTO [dbo].[Notificacoes]
    ([Mensagem], [Status], [DataUltimaAcao])
VALUES
    (N'Novo conteúdo disponível.',
     N'não lida',
     CAST(N'2026-09-30T03:00:00.0000000' AS DateTime2))
GO